.title{
    background-color: rgba(178, 142, 177,.7);
}
.title h1{
    margin: 10px auto;
}

.content{
    background-color: rgba(178, 142, 177,.4);

}
.title h1{
    font-size: 25px;
}
.row img{
    width: 18px;
}
.row{
    display: block;
}


/*cono*/

.cono{
    background-color: rgba(178, 142, 177,.2);
    border-radius: 10px;
    margin-bottom: 15px;
}
.cono h2{
    width:100%;
    padding: 8px;
    background-color: rgba(178, 142, 177,.5);
}

.row{
    padding:10px;
    margin-left: 10%;
}

.row label{

    font-size: 20px;
}

h2 img{
    width: 16px;
}

h2 label {
    float: right;
    font-size: 20px;
    font-family: 'VT323';
    margin-top:10px;
}