/*Todo*/
body{
    background-color: rgb(203, 203, 203);
    font-family:'QuickSand' ;

}
a{
    color:black;
    text-decoration: none;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y:auto;
}

.row{
    width: 100%;
}
.blue{
    background-color: rgb(75, 89, 225);
}
.orange{
    background-color: rgb(225, 116, 75);
}
.yellow{
    background-color: rgb(227, 219, 94);
}
.green{
    background-color:rgb(114, 189, 113);
}
.pink{
    background-color: rgb(178, 142, 177);
}
/*Menu*/
.menu{
    position:fixed;
    width: 90px;
    height: 100vh;
    overflow: visible;
}
.menu li{
    list-style: none;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 90px;

    transition: all 1s;
}
.menu li:hover {
    width:200px;
}
.nav-button{
    color:black;
    height: 100%;
    width: 100%;
    font-size: 22px;
    font-family: 'VT323';

    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .83;
    transition: all 1s;
}
.nav-button:hover{
    opacity: 1;
    width: 200px;
}
.nav-button label{
    display: none;
    visibility: hidden;
    opacity: .1;
    transition: all 2s;
}
.menu li .nav-button:hover label{
    display: inline;
    visibility: visible;
    margin-left: 10px;
    opacity: 1;
}

.nav-button img{
    width: 50px;
}
/*FIN MENU*/

/*CONTENEDOR*/
.container{
    margin-left: 90px;
    display: inline-block;
    width: 87%;
}

/*TITULO*/
.card{
    margin:20px;
    margin-left: 6%;
    padding: 10px;
    width:80%;
    min-width: 300px;
    border-radius: 5px;
}
.title{
    font-family: 'PT Mono';
    background-color: rgba(75, 89, 225, .7);
}
.title h1{
    font-size: 40px;
    margin:2px;
}
.title h2{
    font-size: 20px;
    float: right;
    margin:2px;
}
.foto img{
    width: 100%;

    border-radius: 10px;

}
.foto{
    width: 20%;
    min-width: 200px;
    margin:15px;
    margin-left: 10%;
    float:left;
}
.info{
    margin-left: 3%;
    float:left;
    width: 50%;
    min-width: 260px;

    margin-top: 2%;
    margin-bottom: 2%;
}
.content{
    background-color: rgba(107, 122, 253, 0.3);
    overflow: hidden;
    transition: all 2s;
}

.row h1{
    font-size: 40px;
    font-family:  'VT323';
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid black;
    margin:0px 20px; 
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.row p{
    padding: 2px;
    margin-left:4%;
    font-size: 20px;

}
.row .i{
    font-weight: bold;
}

.row p a{
    padding: 2px 15px;
    transition: all .8s;
    border-radius: 15px;
}
.row p a:hover{
    background-color: rgba(107, 122, 253, 0.6);
}
/*
fonts:
    font-family: 'Major Mono Display';
    font-family: 'Share Tech Mono';
    font-family: 'VT323';
colors:
    white: rgb(180, 185, 236);

*/