body{
    background: rgba(185, 140, 187, .5);
}
body{
    font-family: 'Lacquer';
}
.points3 {
    text-align: center;
}
.txt{
    padding: 5px 30px;
    margin:0!important;
}
h3{
    padding: 0px 30px!important;
}
.btn-menos{
    cursor: pointer;
    border: 1px solid #bbb;
    margin-left: 10px;
    font-size: 15px;
    padding: 2px;
}
.btn-option{
    margin-top: 10px;
}
.carta{
    background: #eee;
    padding: 0;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 10px;
}
.title{
    background: rgba(73, 29, 75, .5);
    padding: 5px;
    text-align: center;
    font-family: 'Nunito';
    font-weight: bold;
}
.content{
    font-family: 'Nunito';
    padding: 8px;
}
#carta{
    display: none;
}
.subtitle{
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    padding-bottom:3px; 
    margin-bottom: 2px;
}
.carta-poker{
    text-align: center;
}
#carta-poker{
    display: none;
}
.mg{
    padding-left: 3px;
}
.mg img{
    margin-right: 3px;
    margin-bottom: 3px;
}
.line{
    border-bottom: 1px solid #ccc;
}
.btn-options{
    padding: 5px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 5px 5px;
    font-family: 'Nunito';
    font-size: 13px;
    opacity: 1;
    border: 1px solid #ccc;
    color: black;
    z-index: 1;
    cursor: pointer!important;
}
.agus{
    float: right;
    margin-bottom: 32px;
}
#nintentos{
    margin-bottom: 32px;
    display: none;
}